/* hide the container div until they suthenticate */
.container {
    display: none;
}

.loading {
    display: none;
}

/* login form CSS */
#loginForm {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#loginForm form {
    width: 50%;
}

#loginForm input {
    margin-bottom: 5px;
}

/* header */
 .top-btns{
    margin-top: 10px;
    margin-left: 10px;
 }