/* hide the container div until they suthenticate */
.container {
    display: none;
}

.loading {
    display: none;
}
#update_games{
    display: none;
 }

/* login form CSS */
#loginForm {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#loginForm form {
    width: 50%;
}

#loginForm input {
    margin-bottom: 5px;
}

/* header */
 .top-btns{
    margin-top: 10px;
    margin-left: 10px;
 }


 /* body */
 #games{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
    padding: 10px;
    margin-left: 20px;
    margin-right: 10px;
 }

 #logs{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
    padding: 10px;
    margin-right: 20px;

 }
 
